<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align:center">
      PoliticApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let politico of politicos">        
        <ion-card>
          <ion-item>
            <ion-label>{{politico.titulo}}</ion-label>
            <ion-button fill="outline" slot="end">Accion</ion-button>
          </ion-item>
          <ion-card-subtitle>
            {{politico.descripcion}}
          </ion-card-subtitle>
          <ion-card-content>
            {{politico.contenido}}
          </ion-card-content>
          <ion-list>
            <ion-list-header lines="full">
              <ion-label> <b>Historial</b></ion-label>
              <ion-button>ver todos</ion-button>
            </ion-list-header>
            <ion-item *ngFor="let pifia of politico.pifias" (click)="verPifia(pifia)">
              <ion-label>{{pifia.titulo}}</ion-label>
            </ion-item>
          </ion-list>
          <ion-slides pager="true">
            <ion-slide *ngFor="let image of politico.imagenes">
              <img [src]="image"/>
            </ion-slide>
          </ion-slides>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
    </ion-slides>
</ion-content>
